@import url('https://fonts.googleapis.com/css2?family=Playwrite+NL:wght@100..400&display=swap'); 

body {
overflow-x: hidden;
}

.logo {
    font-size: 1.5rem;
    font-family: "Playwrite NL", sans-serif;
}

.title-img {
    height: 85vh;
}

.contact-us {
    height: 80vh;
}